body {
    background: rgba(255, 100, 50, .5);
    color: rgba(0, 100, 255, .5);
}

body > header > ul > h3 {
    background: white;
}

h3{
    color: black;
}
li{
    color: #141f5e;
}

body li {
    color: aqua;
}

